.particles-js {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.particles-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.world-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  background: url('../assets/world.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo-wrapper {
  position: relative;
  display: table;
  margin: 10vh auto 0;
  z-index: 999;

  img {
    @media screen and (max-height: 650px) {
      width: 50vh;
    }
  }

  @media screen and (min-height: 650px) {
    margin: 15vh auto 0;
  }
}

.description-wrapper {
  position: relative;
  display: table;
  color: #fff;
  clear: left;
  margin: 0 auto;
  z-index: 999;
}

.description-title {
  font-size: 1.6em;
  font-family: 'Raleway Thin', sans-serif;
  margin: 7vh 0 0;
  text-align: center;

  &.sub {
    font-size: 1.3em;
  }

  &.second-sub {
    margin-top: 1.2em;
  }

  &.third-sub {
    font-size: 1.2em;
    margin-top: 1em;
  }

  a {
    cursor: pointer;

    &:link,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }

  .bold {
    font-family: 'Raleway Bold', sans-serif;
  }

  @media screen and (min-width: 768px) and (min-height: 650px) {
    font-size: 2em;

    &.sub {
      font-size: 1.8em;
    }
  }
}

.icon {
  padding: 0 .7em;
  width: 3em;
  height: 3em;

  @media screen and (min-width: 768px) and (min-height: 650px) {
    width: 4em;
    height: 4em;
  }
}

.desctiption-icons {
  text-align: center;
  margin-top: 2em;
}
