.particles-js {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  //background: #0496b4;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #0496b4, #34070f);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #0496b4, #34070f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

.particles-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.world-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  background: url('../assets/world.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo-wrapper {
  position: relative;
  display: table;
  margin: 10em auto 0;
  z-index: 999;
}

.description-wrapper {
  position: relative;
  display: table;
  color: #fff;
  clear: left;
  margin: 0 auto;
  z-index: 999;
}

.description-title {
  font-size: 1.6em;
  font-family: 'Raleway Thin', sans-serif;
  margin: 2.5em 0 0;
  text-align: center;

  &.sub {
    font-size: 1.3em;
  }

  .bold {
    font-family: 'Raleway Bold', sans-serif;
  }

  @media screen and (min-width: 768px) {
    font-size: 2em;

    &.sub {
      font-size: 1.8em;
    }
  }
}

.icon {
  padding: 0 .7em;
  width: 3em;
  height: 3em;

  @media screen and (min-width: 768px) {
    width: 4em;
    height: 4em;
  }
}

.desctiption-icons {
  text-align: center;
  margin-top: 2em;
}
